<ion-view view-title="{{file.name}}">
    <ion-content overflow-scroll="true">

        <!--<div class="card">
            <ion-item>
                <!--<div class="video-container" height="100%">-->
                    <iframe src="{{file._downloadURL}}" width="100%" height="100%"></iframe>
                    <!--<iframe src="{{file._downloadURL}}" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
                    </iframe>-->
                <!--</div>-->
            
        <p>{{file._downloadURL}}</p>
        
    </ion-content>
</ion-view>