<ion-view view-title="Offline">
    <ion-nav-bar title="Service Techs" ng-style="{'background-color': primarycolor}">>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title">Service Techicians</h1>
        </ion-nav-buttons>

    </ion-nav-bar>
     <!--<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>-->
      <ion-content class="has-header padding">

  
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="account in accounts" type="item-text-wrap">
        <!--<h2>{{tech.FIRST_NAME}} {{tech.LAST_NAME}}</h2>-->
        <h2>{{account.accountname}}</h2>
    <!--<p>{{tech.MAIL_ID}}</p>-->
    <p>{{account.accountcompany}}</p>
        <i class="icon ion-wrench icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <a class="button button-small" ng-click="autoCreate(5);">Autogenerate</a>
    <a class="button button-small" ng-click="syncme();">Sync</a>
    <a class="button button-small" ng-click="deltame();">Delta</a>
  </div>
  
  </div>
</ion-footer-bar>
</ion-view>
