<ion-view view-title="Account Detail">
    <!--<ion-nav-bar title="Account Detail" ng-style="{'background-color': primarycolor}">

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          <h1 class="title">Let's Keep in Touch</h1>
        </ion-nav-buttons>

    </ion-nav-bar>-->
     <!--<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>-->
      <ion-content class="has-header padding">

  Invoice Details for:
    <ion-list>
     <ion-item class="item-remove-animate  item-icon-right" ng-repeat="invoice in invoices" type="item-text-wrap">
        <h2>{{invoice.Amount}}</h2>
    <p>{{invoice.InvoiceNumber}}</p>
        <i class="icon ion-android-contact icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
 <!-- <ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button" ng-click="doRefresh();">Refresh</button>
  </div>
  
  </div>
</ion-footer-bar>-->
</ion-view>
