<ion-view view-title="Map">
    <ion-nav-bar class="bar-kinvey" title="Prospects">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
            <h1 class="title">Map</h1>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>-->
    <ion-content class="has-header">
        <div class="bar">
            <div>
                <label class="item item-input">
                    <input type="text" placeholder="Interest" ng-model="placesData.interest">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Range" ng-model="placesData.range">
                </label>
                <ion-list class="has-header">
                    <ion-item class="item-remove-animate  item-icon-right" ng-repeat="place in places" type="item-text-wrap">
                        <h2>{{place.name}}</h2>
                        <h3>{{place.fullResults.vicinity}}</h3>
                    </ion-item>
                </ion-list>
            </div></div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <div class="buttons">
            <button class="button" ng-click="doRefresh();">Lookup</button>
        </div>
    </ion-footer-bar>
</ion-view>
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDRVcKcpQ-VCU9IXTzg0Woj26JNuqGLsQM&sensor=true"></script>-->