<ion-view cache-view="false" view-title="Products">

  <ion-content class="has-header padding">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-leftitem-icon-right pane" ng-repeat="product in products" type="item-text-wrap">
      <center><img ng-src="img/{{product.thumbimg}}" height="100">
       <div class="item item-text-wrap">
        <h2 class="item-text-wrap"><b>{{product.title}}</b></h2></div>

        <!--<p style="white-space:normal">{{burner.desc}}</p></center>-->
       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
