<ion-view cache-view="false" view-title="Search">
    <ion-content>
        <!--<option ng-repeat="account in accountlist"</option>-->
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Product
                </div>
                <select id="chosenProduct" ng-model="selectValue" ng-change="searchme()">
                    <option ng-repeat="product in products">{{product.title}}</option>
                </select>
            </label>
        </div>
       <div class="list">
    <div class="list card">
      <ion-item ng-repeat="product in thisproduct" type="item item-text-wrap">
        <!--<div class="item item-avatar">-->
          <center><img src="{{product.img}}" height="200"></img></center>
          <div class="item item-text-wrap">
          <h2 class="item-text-wrap"><center>{{product.title}}</center></h2>
          <p ng-bind-html="product.description" class="item-text-wrap"></p></div>
          
      </ion-item>
    </div></div>

    </ion-content>
</ion-view>